{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <h3><a href="" class="fs-2 fw-bold text-decoration-none">NUEVO SOCIO</a></h3>
    <form method="post">
        {% csrf_token %}
        <div class="row g-1">
            <div class="col-sm-2">
                <label for="dni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="dni" name="dni" required>
            </div>
            <div class="col-sm-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="col-sm-4">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" required>
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-5">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion">
            </div>
            <div class="col-sm-2">
                <label for="movil" class="form-label">Móvil</label>
                <input type="tel" class="form-control" id="movil" name="movil">
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-5">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-5">
                <label for="fecha_alta" class="form-label">Fecha de alta</label>
                <input type="date" class="form-control" id="fecha_alta" name="fecha_alta" required>
            </div>
            <div class="col-sm-3">
                <label for="tarifa" class="form-label">Tarifa</label>
                <select class="form-select" id="tarifa" name="tarifa">
                    <option value="DES" selected>Descuento(<18, >65 o discapacidad)</option>
                    <option value="JOV">Jovenes(Entre 19 y 25 años)</option>
                    <option value="ADU">Adultos(Entre 26 y 64 años)</option>
                </select>
            </div>
        </div>
        <div class="row g-1 mt-3">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>

{% endblock %}