{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2><a href="/clientes" class="fs-1 fw-bold text-decoration-none">COMPLEJO DEPORTIVO VIGO</a></h2>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'collage.jpg' %}" alt="logo" width="500" height="500">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Las mejores instalaciones de la provincia</h1>
                <p class="lead">El Complejo Deportivo de Vigo es un centro de instalaciones para la práctica deportiva
                    en la ciudad de Vigo (Pontevedra) España, este complejo cuenta con una pista polideportiva donde se
                    pueden practicar diferentes deportes, entre los que destacan fútbol, baloncesto; una piscina apta
                    para competiciones de 25 metros con ocho callesy un rocodromo de casi trescientos metros
                    cuadrados. </p>
            </div>
        </div>
    </div>
    <div class="">
        <a href="{% url 'clientes_altas' %}" class="text-secondary fs-6 fw-bold text-decoration-none"><span class="">Alta Socio</span></a>
        <label>/</label>
        <a href="{% url 'clientes_bajas' %}" class="text-secondary fs-6 fw-bold text-decoration-none"><span class="">Baja Socio</span></a>
    </div>
    <div class="row g-1">
        <div class="col-sm-5">
            <label></label>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Fecha Alta</th>
                <th scope="col">Dirección</th>
                <th scope="col">Móvil</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.dni }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellidos }}</td>
                    <td>{{ cliente.fecha_alta }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.movil }}</td>
                    <td>{{ cliente.email }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}