{% extends 'base.html' %}
{% block content %}
    <h3><a href="" class="fs-2 fw-bold text-decoration-none">NUEVO SOCIO</a></h3>
    <form action="{% url 'clientes_altas' %}" method="post">
        <div class="row g-1">
            <div class="col-sm-2">
                <label for="dni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="dni" name="dni">
            </div>
            <div class="col-sm-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-4">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos">
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-5">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion">
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-2">
                <label for="movil" class="form-label">Móvil</label>
                <input type="tel" class="form-control" id="movil" name="movil">
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-5">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
{% endblock %}