{% extends 'base.html' %}
{% block content %}
    <h3><a href="" class="fs-2 fw-bold text-decoration-none">BAJA SOCIO</a></h3>
    <form>
        <div class="row g-1">
            <div class="col-sm-5">
                <label></label>
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-2">
                <label for="exampleInputDNI1" class="form-label">DNI</label>
                <input type="dni" class="form-control" id="exampleInputDNI1">
            </div>
        <div class="row g-1">
            <div class="col-sm-5">
                <label></label>
            </div>
        </div>
        <div class="row g-1">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
{% endblock %}