{% extends 'base.html' %}
{% block content %}
<h3> NUEVO CLIENTE </h3>
    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">DNI</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nombre</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
        <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Apellidos</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
        <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Dirección</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
        <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Móvil</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
        <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<div class="clienteform">
    <form method="POST" > {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>
{% endblock %}