{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <h3><a href="" class="fs-2 fw-bold text-decoration-none">INSTALACIONES</a></h3>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'polideportivo.jpg' %}" alt="logo" width="1500" height="700">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Polideportivo</h5>
                    <p>Amplio polideportivo y recien reformado</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'piscina.jpg' %}" alt="logo" width="1500" height="700">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Piscina</h5>
                    <p>Piscina de 25 metros y ocho calles</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'escalada.jpg' %}" alt="logo" width="1500" height="700">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Rocodromo</h5>
                    <p>Excelente reocodromo para disfrutar de la escalada.</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
{% endblock %}