{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron">
        <h1 class="text-center display-2 mb-4 font-weight-bold">
            <span class="text-primary">Complejo</span>
            <span class="text-warning">Deportivo</span>
            <span class="text-danger">Vigo</span>
        </h1>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <img src="{% static 'collage.jpg' %}" alt="logo" class="img-fluid">
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <h2 class="display-5 lh-1 mb-3">Las mejores instalaciones de la provincia</h2>
      <p class="lead">El Complejo Deportivo de Vigo es un centro de instalaciones para la práctica deportiva en la ciudad de Vigo (Pontevedra) España, este complejo cuenta con una pista polideportiva donde se pueden practicar diferentes deportes, entre los que destacan fútbol, baloncesto; una piscina apta para competiciones de 25 metros con ocho calles y un rocódromo de casi trescientos metros cuadrados. </p>
    </div>
  </div>
</div>
{% endblock %}